<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1360px">
<title>二维码签到</title>
<link rel="stylesheet" href="/static/css/draw_results.css" />
<script type="text/javascript">
    var mzGlobalData = {};
    mzGlobalData.eid={{eventId}};
</script>
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<link REL="SHORTCUT ICON" HREF="{{ MEDIA_URL }}/static/image/favicon.ico">

</head>

{##}
{#<!-- 光标聚焦输入框 -->#}
{#<div id="cent_box">#}
{#    <div class="box">#}
{#        <div id="text">{{qrcode}}</div>#}
{#    </div>#}
{#</div>#}


</body>
</html>
